
<html>
<head>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){

    var socket = io.connect();

    socket.on('connect', function() {
      socket.emit('connected', "basic_light");
    });

    socket.on('{{outlet.num}}'+'t_on', function(msg) {
      $('#timeon').val(msg);
    });
         
    $('#timeon').change(function() {
      socket.emit('t_on', $('#timeon').val(),{{outlet.num}});
    });

    socket.on('{{outlet.num}}'+'t_off', function(msg) {
      $('#timeoff').val(msg);
    });
         
    $('#timeoff').change(function() {
      socket.emit('t_off', $('#timeoff').val(),{{outlet.num}});
    });
  });
</script>
</head>

<body>
<div class="row">
  <div class="col-6" align="right"> 
      <h5>Sunrise:        
      <input class="btn bbtn btn-outline-light" style="border-color:black;" 
                    id="timeon" type="time" value="{{outlet.timeon}}">
      </h5>
  </div>
  <div class="col-6" align="left"> 
      <h5>Sunset:         
      <input class="btn bbtn btn-outline-light" style="border-color:black;" 
                    id="timeoff" type="time" value="{{outlet.timeoff}}">
      </h5>
  </div>
</div>
This is the main light for your grow. The rest of the garden will determine if it is day-time 
or night-time based on these settings. 12 hours of light or less a day will transition the plant from the
vegitative stage to the flowering stage.

</body>
</html>