{% extends "header.html" %}
{% block content %}

<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
$(function() {
  $('a#process_input').bind('click', function() {
    $.getJSON('/background_process', {
      outlet: $('button[name="switch"]').val(),
    }, function(data) {
      $("#title").text(data.result);
    });
    return false;
  });
});
  </script>
</head>

<div class="panel panel-success">
  <div class ="panel-heading">
    <center><h1><p id=title>
     PUMP is OFF</p></h1>
      <form  action="/outlet3" method="POST">
        <a href=# id=process_input><button class="btn btn-success" type="submit" name="switch" value="1" role="button">SWITCH</button></a> 
      </form> 
    </center>      
  </div>
  <div class="panel-body">
    This is where all the cool stuff will go
  </div>
</div>

{% endblock %}